
/*Colour scheme 


Grey - #b7b7b7 
Dark Grey - #6b6b6b
Soft yellow - #fff5bb
Blue/grey - #9dbcbc
Teal - #006666


Light blue- #ABCFFF 
Dark blue - #305BA6
Beige - #F5CE90
Off white - #FFF0D6 
Light brown - #A69A88

/* General Styling */

* {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: rgb(241, 239, 239);
    color: black;
    
  }
  
  body {
    font-family: "Vesper Libre", serif;
    
  }
  
/* Header section */

  header {
    width: 100vw;
    height: auto;
    
  }
  
  nav {
    width: 90%;
    margin: 10px auto;
    text-align: right;
    
  }
  
  nav ul li {
    display: inline-block;

  }
  
  nav ul li a {
    text-decoration: none;
    color: #F6BA1F;
    font-size: 30px;
    margin: 0px 10px;
    letter-spacing: 1px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  
  
  .strapline-container {
    width: 90%;
    height: auto;
    margin: 10px auto;
    text-align: center;
    
    
  }

  
  .main-strapline {
    color: #305BA6;
    font-size: 100px;
    text-transform: uppercase;
    margin: 20px 0px;
    font-family: "Poppins", sans-serif;
  }
  
  .second-strapline {
    color: black;
    font-size: 35px;
  
  }
  
  .section-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 240%;
    margin-bottom: 25px;
    background-color: #305BA6;
    color: #ABCFFF;
   
  }
  

/* Bio section */

  .about-section {
    width: 100vw;
    height: auto;
    
  }
  
  .about-container {
    width: 99%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    height: auto;
  }
  

.bio{
    text-align: center;  
    font-weight: normal;
    line-height: 220%;
    letter-spacing: 0.8px;
    margin: 20px;
    height: auto;
  
}

  .left-box {
    width: 33%;
    text-align: center;
    line-height: 220%;
    font-weight: normal;
    letter-spacing: 0.8px;
  
  }
  
.middle-box {
  width: 33%;
  margin-left: 6%;
  text-align: center;
  line-height: 220%;
  font-weight: norma;;
  letter-spacing: 0.8px;

}

  .right-box {
    width: 33%;
    margin-left: 6%;
    text-align: center;
    line-height: 220%;
    font-weight: normal;
    letter-spacing: 0.8px;

  }

.left-box h3,
  .middle-box h3, 
  .right-box h3 {
    text-decoration: underline;
    font-weight: bold;
    color: #F6BA1F;
    font-size: larger;

  }
  
  
 /* Project section */

  .project-section{
    width: 100vw;
    height: auto;
  }
  
  .project-title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 240%;
    margin-bottom: 25px;
    background-color: #305BA6;
    color: #ABCFFF;
   
  }

.project-intro {

  text-align: center;  
    font-weight: normal;
    line-height: 120%;
    letter-spacing: 0.8px;
    margin: 20px;

}


.project-container-1,
.project-container-2,
.project-container-3 {
  width: 90%;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.left-box-pro{
  width: 45%;
  margin-left: 6%;
  text-align: center;
  line-height: 220%;
  font-weight: normal;
  letter-spacing: 0.8px;
  
}

.right-box-pro{
  width: 45%;
  margin-left: 6%;
  text-align: center;
  line-height: 220%;
  font-weight: normal;
  letter-spacing: 0.8px;
 
}

  /* Contact section */

  .contact-section {
    height: auto;
    width: 100vw;
    text-align: center;
    justify-content: center;
    
  }
  
  .Contact-title {
    
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 250%;
    background-color: #305BA6;
    color: #ABCFFF;
   
  }
  
  .social-media-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 40vw;
    margin: 10px auto;

    
  }
  
  .social-media-icon {
    margin: 0 10.5px;

  }




  @media screen and (max-width: 600px) {
    
    header{
      height: 40vh;
    }
    
    h1 {
      display:none;
      
    }
  }

  @media screen and (max-width: 950px) {   

h3.second-strapline{

  display:none;
}
  }
 
  

